@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  html {
    scrollbar-width: none; /* Firefox */
  }

  body {
    -ms-overflow-style: none; /* IE/Edge */
  }

  body {
    background-color: #fafafa;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 800;
    color: #ffffff;
  }

  * {
    transition: all 0.2s ease-in-out;
  }
}

@layer components {
  .hero-wrapper {
    background: linear-gradient(90deg, #c3e8ee 0%, #faf4fb 50%, #f5daed 100%);
  }

  .section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .light-gradient {
    background: linear-gradient(
      to bottom right,
      rgba(106, 166, 255, 0.1),
      rgba(255, 138, 138, 0.1),
      rgba(255, 204, 102, 0.1)
    );
  }
}
